<!-- <ion-header>
  <ion-toolbar>
    <ion-title>detailinfraction</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="header">
    <div class="icone">
      <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
    </div>

    <!-- <div class="icond col-md-3"> -->
      <div class="cercler">
        <div class="icon">
         <a [routerLink] = "['information', this.iduser]"> <ion-img class="imag" src="{{profv}}" alt=""></ion-img></a>
        </div>
      </div>
    <!-- </div> -->
    <!-- <div class="icon">
      <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
    </div> -->
  </div>

  <div class="retu">
    <ion-icon (click)=" back()" name="chevron-back"></ion-icon>
   </div>

   <div class="bien ">
    <h2>{{plaq}}</h2>
  </div>

  <div class="card">

    <div class="trow">

      <div class="item-padd" *ngFor="let infractions of infraction">
        <div class="item-inner ">
            <div class="iimg">
              <ion-icon name="alert-circle"></ion-icon>
              <ion-label>Infraction</ion-label>
              <ion-label>{{infractions.date}}</ion-label>
            </div>
            <div class="conten">
              <p>Description</p>
              <ion-item>{{infractions.description}} </ion-item>
            </div>
            <div class="lb">
             <div class="divvee">
              <div class="labelll">
                 <div class="label">
              <ion-label> <span  id="span">Lieu </span> :  <span id="sp" >{{infractions.lieu}}</span></ion-label>
            </div>
            <div class="label">
              <ion-label> <span  id="span">Amende </span> :  <span id="sp">{{infractions.amende.montant}}</span></ion-label>
            </div>
              </div>
              &nbsp;
              
            <div class="button" *ngIf="suivant" >
               <button  routerLink=""   class="hire" id="open-modal" expand="block">Regler infraction</button>
            </div>
             </div>
           
            <div class="label">
              <ion-label> <span  id="span">infraction réglé</span> : <span id="sp">{{infractions.status}}</span></ion-label>
            </div>
            <div class="label">
              <ion-label> <span id="span">infraction commis par </span> : <span id="sp">{{infractions.permis.numpermis}}</span></ion-label>
            </div>
          </div>

        </div>
     </div>


     <!-- <div class="item-padd">
      <div class="item-inner ">
          <div class="iimg">
            <ion-icon name="alert-circle"></ion-icon>
            <ion-label>Infraction</ion-label>
            <ion-label>01/ 10 / 2023 T 10 H 10 : 00</ion-label>
          </div>
          <div class="conten">
            <p>Description</p>
            <ion-item>vous avez bruler le feu rouge sans fuite
              sur la rue 250 de badalabougou  </ion-item>
          </div>
          <div class="lb">
            
          <div class="label">
            <ion-label> <span  id="span">Amende </span> :  <span id="sp" >10000 FCFA</span></ion-label>
          </div>
          <div class="label">
            <ion-label> <span  id="span">infraction réglé  </span> =   <span id="sp">OUI</span></ion-label>
          </div>
          <div class="label">
            <ion-label> <span  id="span">Montant payé </span> =   <span id="sp"> 10000 FCFA</span></ion-label>
          </div>
          <div class="label">
            <ion-label> <span id="span">infraction réglé lé </span>  = <span id="sp"> 15 / 10 / 2022</span></ion-label>
          </div>
        </div>

      </div>
   </div> -->


    </div>
     

  </div>


  

</ion-content>
