<!-- <ion-header>
  <ion-toolbar>
    <ion-title>detailinfraction</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="header">
    <div class="icone">
      <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
    </div>

    <!-- <div class="icond col-md-3"> -->
      <div class="cercler">
        <div class="icon">
         <a routerLink = '/information'> <ion-img class="imag" src="/assets/icon/OO.png" alt=""></ion-img></a>
        </div>
      </div>
    <!-- </div> -->
    <!-- <div class="icon">
      <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
    </div> -->
  </div>

  <div class="retu">
    <a routerLink = '/tabs'> <ion-icon name="chevron-back"></ion-icon></a>
   </div>

   <div class="bien ">
    <h2>AV 7223 MD</h2>
  </div>

  <div class="card">

    <div class="trow">

      <div class="item-padd">
        <div class="item-inner ">
            <div class="iimg">
              <ion-icon name="alert-circle"></ion-icon>
              <ion-label>Infraction</ion-label>
              <ion-label>01/ 10 / 2023 T 10 H 10 : 00</ion-label>
            </div>
            <div class="conten">
              <p>Description</p>
              <ion-item>vous avez bruler le feu rouge sans fuite
                sur la rue 250 de badalabougou  </ion-item>
            </div>
            <div class="lb">

            <div class="label">
              <ion-label> <span  id="span">Amende </span> :  <span id="sp" >10000 FCFA</span></ion-label>
            </div>
            <div class="label">
              <ion-label> <span  id="span">infraction réglé  </span> =   <span id="sp">nom</span></ion-label>
            </div>
            <div class="label">
              <ion-label> <span  id="span">Montant payé </span> =   <span id="sp">null</span></ion-label>
            </div>
            <div class="label">
              <ion-label> <span id="span">infraction réglé lé </span>  = <span id="sp">null</span></ion-label>
            </div>
          </div>

        </div>
     </div>


     <div class="item-padd">
      <div class="item-inner ">
          <div class="iimg">
            <ion-icon name="alert-circle"></ion-icon>
            <ion-label>Infraction</ion-label>
            <ion-label>01/ 10 / 2023 T 10 H 10 : 00</ion-label>
          </div>
          <div class="conten">
            <p>Description</p>
            <ion-item>vous avez bruler le feu rouge sans fuite
              sur la rue 250 de badalabougou  </ion-item>
          </div>
          <div class="lb">
            
          <div class="label">
            <ion-label> <span  id="span">Amende </span> :  <span id="sp" >10000 FCFA</span></ion-label>
          </div>
          <div class="label">
            <ion-label> <span  id="span">infraction réglé  </span> =   <span id="sp">OUI</span></ion-label>
          </div>
          <div class="label">
            <ion-label> <span  id="span">Montant payé </span> =   <span id="sp"> 10000 FCFA</span></ion-label>
          </div>
          <div class="label">
            <ion-label> <span id="span">infraction réglé lé </span>  = <span id="sp"> 15 / 10 / 2022</span></ion-label>
          </div>
        </div>

      </div>
   </div>


    </div>
     

  </div>

</ion-content>
