ion-content{
    --background: #2A445D;
//     width: 100%;
//     height: 100%;
}

.header{
    display: flex;
   position: fixed;
}
.icone{
    width: 95px;
    height: 45px;

}
.inmage{
    width: 88%;
   margin-top: 15%;
   margin-left: auto;
   margin-right: auto;
   z-index: 2;
   position: relative;
bottom: 0px;


}
.cercler{
   background-color: aliceblue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
   
   right: 0;
    position: fixed;
    margin: 15px;

  }
  .imag{
    margin: 10px;
  }

  .retu{
    margin-top: 27%;
    position: fixed;
   
  }

//  .retu a{
//     margin: 5%;
//     text-decoration: none;
//   }
  .retu ion-icon{
    color: #FFFFFF;
    margin: 5%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.bien{
    margin-top: 35%; 
    text-align: center;
    
}
.bien h2{
 font-weight: 700;
 font-size: 25px;
 color: #FFFFFF;
}

.card{
    margin-top: -5px;
    //position: relative;
    width: 93%;
    //  margin-right: -5px;
    //  margin-left: -5px;
    height: 76%;
    background-color: #FFFFFF;
    scrollbar-width: none !important;
    overflow-y: scroll; 
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
    
}
.card::-webkit-scrollbar {
    display: none;
  }

  .trow{
    margin-top: 20px;
  }
  .item-padd{
    
    // display: flex;
    // justify-content: center;
        // background: red;
        width: 97%;
        // margin: 2%;
        padding-bottom: 8%;
        margin-left: auto;
        margin-right: auto;
        
        
  }
  .item-inner {
    // width: 109px;
    // height: 126px;
    // width: 100%;
    height: 90%;
    background: #2A445D;
    border-radius: 10px;
  }
  .iimg{
    display: flex;
  }
  ion-icon{
    color: red;
    margin: 5px;
  }
  ion-label{
    font-weight: 500;
    font-size: 13px;
    margin: 5px;
    color: #FFFFFF;
    margin-bottom: 10px;
   
  }
  ion-label #span{
    text-decoration: underline;
    border: none;
    list-style: none;
    margin-right: 10px;
  }

  ion-label #sp{
    margin-left: 10px;
  }
.lb{
    padding-bottom: 10px;
    // background: red;
}
  .label{
    // margin-left: 5%;
    // margin-right: 5%;
    // display: flex;
    margin-left: 5px;
  }
  .conten{
    display: flex;
  }
  .conten p{
    color: #FFFFFF;
    text-decoration: underline;
    margin-left: 5px;
  }
  ion-item{
    font-weight: 500;
   --background: none !important;
    font-size: 13px;
    color: #FFFFFF;
    
  }
  .label a{
    text-decoration: none;
  }
  .label .hire{
    font-size: 13px;
    font-weight: 700;
    padding: 0px 0px;
    margin: 5px;
    color: #000;
    // border-radius: 10px;
    // display: inline-block;
    // white-space: nowrap;
    border: none;
    background-color: #FFFFFF;
    transition: all 0.3s ease;
}
.divvee{
  display: flex;
}
.button{
  margin-top: 10px;
}
.button .hire{
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  padding: 5px 5px;
  margin: 5px;
  color: #000;
  // border-radius: 10px;
  // display: inline-block;
  // white-space: nowrap;
  border: none;
  background-color: #FFFFFF;
  transition: all 0.3s ease;
}




ion-modal{
  --background-color: #FFFFFF;
}
.wrapper{
  background-color: #FFFFFF;
}
.warp{
  margin-bottom: 10%;
  border-bottom: 1px solid #000;
}
ion-modal#example-modal {
  --width: fit-content;
  --min-width: 310px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#example-modal h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#example-modal ion-icon {
  margin-right: 6px;

  width: 48px;
  height: 48px;

  padding: 4px 0;

  color: #aaaaaa;
}

ion-modal#example-modal .wrapper {
  margin-bottom: 10px;
}

// ion-list{
//   background-color: #FFFFFF;
// }

ion-list{
    
  background: none;
  margin-left: 10px;
  margin-right: 10px;
}
.wrapper ion-item{
background-color: antiquewhite;
 margin-bottom: -5% !important;
}
.wrapper ion-input{
  margin-bottom: 3% !important;
  // background: none;
  border: 1px solid #2A445D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #000;
  background: #F5F5F5;
  font-size: 13px;
  margin-bottom: 10px;
}
.wrapper ion-label{
  font-weight: 600;
  font-size: 13px;
  color: #000;
  margin-left: 5%;
}
.buton{
  text-align: center;
  margin-top: 10%;
}
.hirer{
  font-size: 13px;
  font-weight: 500;
  padding: 10px 37px;
  color: white;
  border-radius: 10px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background-color: #2A445D;
  transition: all 0.3s ease;
}