<ion-content>
  
    <div class="bien ">
      <p>Vous devez remplire se formulaire par les infos de votre
         carte grise pour avoir un compte utilisateur </p>
      <h2>Inscrivez vous</h2>
    </div>
    <!-- <div class="contenaire">
      SDFGHJVBN
    </div> -->
    
    <div class="card">
      
      <div class="card-body">
        



        <form [hidden]="!suivant">
          <ion-list>
            
              <!-- <ion-label>Username</ion-label> -->
              <ion-input type="text" [(ngModel)]="nom" name="nom" placeholder="Nom"></ion-input>
            
           
              <!-- <ion-label>Email</ion-label> -->
                <ion-input type="text" [(ngModel)]="prenom" name="prenom" placeholder="Prénom"></ion-input>
              
              
                <!-- <ion-label>Password</ion-label>  -->
                <ion-input type="text" [(ngModel)]="profession" name="profession" placeholder="Profession"></ion-input>


                <ion-input type="text" [(ngModel)]="domicile" name="domicile" placeholder="Domicile"></ion-input>
            
           
                <!-- <ion-label>Email</ion-label> -->
                  <ion-input type="text" [(ngModel)]="commune" name="commune" placeholder="Commune"></ion-input>
                
                
                  <!-- <ion-label>Password</ion-label>  -->
                  <ion-input type="tel" [(ngModel)]="phone" name="phone" placeholder="Téléphone"></ion-input>
            </ion-list>
            <div class="btnn">
            <a class="btn" (click)="nextStep()">Suivant</a>

            <!-- <a class="btn" (click)="presentAlert()">Suivant</a> -->
          </div>

          
          </form>
          

          <form *ngIf="step === 2" [hidden]="suivant">
            <ion-list>
             
                <!-- <ion-label>Address</ion-label> -->
                <ion-input type="text" [(ngModel)]="permis" name="permis" placeholder="N° permis"></ion-input>
              
              
                <!-- <ion-label>Phone</ion-label> -->
                <div *ngFor="let input of inputs; let i = index">
                <ion-input type="text" [(ngModel)]="input.value" name="cartegrise" placeholder="N° Carte Grise"></ion-input>
              </div>

                <div class="comtr">
                  <p >plus de carte grise</p>
                  &nbsp;
                  &nbsp;
                  <i class="bi bi-plus-lg" (click)="addInput()" style="color: #333333; font-size: 20px;"></i>
                  <i class="bi bi-dash-lg" (click)="removeInput()" style="color: #333333; font-size: 20px;"></i>
                </div>
                
            </ion-list>
            <div class="btnn">
            <a class="btn" (click)="submit()">S'inscrire</a>
          </div>
          
          </form>
          
          <div class="com">
            <p >j’ai deja un compte . <a routerLink = '/connexion'>se connecter</a> </p>
          </div>

      

      </div>
    </div>
  
 
</ion-content>
