<ion-content>
  <div class="header">
    <div class="icone">
      <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
    </div>

    <!-- <div class="icond col-md-3"> -->
      <div class="cercler">
        <div class="icon">
          <ion-img class="imag" src="/assets/icon/OO.png" alt=""></ion-img>
        </div>
      </div>
    </div>

     <div class="retu">
     <ion-icon (click)=" back()" name="chevron-back"></ion-icon>
     </div>

     <div class="bien ">
      <h2>vous êtes</h2>
    </div>
    <div class="card">

      <div class="prow">
        <div class="info-item">
           <p>Nom : <span>ADIAWIAKOYE</span></p>
        </div>
        <div class="info-item">
           <p>Prenom : <span>Ahmadou</span></p>
        </div>
        <div class="info-item">
           <p>Email : <span> adiawiakoye.le10@gmail.com</span></p>
        </div>
        <div class="info-item">
           <p>Domicile : <span>badalabougou rue : 19 porte : 1233</span></p>
        </div>
        <div class="info-item">
           <p>Téléphone : <span>+22375468913</span></p>
        </div>
        <div class="info-item">
          <p>Grade : <span>Sergent</span></p>
       </div>
       <div class="info-item">
        <p>Matricule : <span>AZERESS234636327H</span></p>
     </div>
        <!-- <div class="info-item">
           <p>Discord : <a href=""><span>diadia#1491</span></a></p>
        </div> -->
     </div>
      
     <div class="buton">
           <a href="#about" class="btn">Deconnecter</a>
           &nbsp;
           &nbsp;
           <a routerLink = '/comptepolicier' class="hire">Modifier</a>
     </div>


    </div>
</ion-content>
