<!-- <ion-header>
  <ion-toolbar>
    <ion-title>detailvehicule</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="header">
    <div class="icone">
      <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
    </div>

    <!-- <div class="icond col-md-3"> -->
      <div class="cercler">
        <div class="icon">
         <a routerLink = '/information'> <ion-img class="imag" src="/assets/icon/OO.png" alt=""></ion-img></a>
        </div>
      </div>
    <!-- </div> -->
    <!-- <div class="icon">
      <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
    </div> -->
  </div>

  <div class="retu">
    <a routerLink = '/tabs'> <ion-icon name="chevron-back"></ion-icon></a>
   </div>

   <div class="bien ">
    <h2>AV 7223 MD</h2>
  </div>

  <div class="card">

    <div class="prow">
      <div class="info-item">
         <p>Marque : <span>TOYOTA</span></p>
      </div>
      <div class="info-item">
         <p>Type : <span>COROLLA XLI</span></p>
      </div>
      <div class="info-item">
         <p>Couleur : <span>Orange</span></p>
      </div>
      <!-- <div class="info-item">
         <p>Profession : <span>Etudiant</span></p>
      </div>
      <div class="info-item">
         <p>Commune : <span>VI</span></p>
      </div>
      <div class="info-item">
         <p>Domicile : <span>yirimadio rue : 123 porte : 6543</span></p>
      </div>
      <div class="info-item">
         <p>Téléphone : <span>+223 75468913</span></p>
      </div> -->
      <!-- <div class="info-item">
         <p>Discord : <a href=""><span>diadia#1491</span></a></p>
      </div> -->
   </div>


   <div class="lescards">
    <div class="trow">

      <div class="item-padd">
        <div class="item-inner ">
            <div class="iimg">
             
          <a routerLink = '/permis'><ion-icon name="alert-circle"></ion-icon></a>    
            </div>
            <!-- <p>Site web de recyclage D3E</p> -->
            <div class="label">
              <ion-label><span>2 </span>Infractions<br>commises</ion-label>
            </div>
          
        </div>
     </div>


      <div class="item-padd">
        <div class="item-inner">
          <div class="iimg">
          <a routerLink = '/vehicule'> <ion-icon name="newspaper"></ion-icon></a> 
          </div>
          <div class="label">
             <ion-label>Voir la carte<br>grise</ion-label>
          </div>
         
        </div>
      </div>
    </div>
</div>

  </div>

</ion-content>
