ion-content{
    --background: #2A445D;
//     width: 100%;
//     height: 100%;
}

.header{
    display: flex;
   position: fixed;
}
.icone{
    width: 95px;
    height: 45px;

}
.inmage{
    width: 88%;
   margin-top: 15%;
   margin-left: auto;
   margin-right: auto;
   z-index: 2;
   position: relative;
bottom: 0px;


}
.cercler{
   background-color: aliceblue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
   
   right: 0;
    position: fixed;
    margin: 15px;

  }
  .imag{
    margin: 10px;
  }

  .retu{
    margin-top: 27%;
    position: fixed;
   
  }

 .retu a{
    margin: 5%;
    text-decoration: none;
  }
  .retu a ion-icon{
    color: #FFFFFF;
    width: 30px;
    height: 30px;
}

.bien{
    margin-top: 35%; 
    text-align: center;
    
}
.bien h2{
 font-weight: 700;
 font-size: 25px;
 color: #FFFFFF;
}

.card{
    margin-top: -5px;
    //position: relative;
    width: 93%;
    //  margin-right: -5px;
    //  margin-left: -5px;
    height: 76%;
    background-color: #FFFFFF;
    scrollbar-width: none !important;
    overflow-y: scroll; 
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
    
}
.card::-webkit-scrollbar {
    display: none;
  }

  .prow{
    margin-top: 5%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
// background: bisque;
  }
  .info-item{
    // background: red;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: -10px;
  }
  .info-item p {
     font-weight: 500;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    // border-bottom: 1px solid #000;
}
.info-item p span {
    font-weight: 600;
    color: #000;
    margin-left: 4px;
    display: inline-block;
}

.lescards{
    margin-top: 5%;
  }


  .trow{
    display: flex;
    justify-content: center;
    // margin-top: 20%;
  }
  .item-padd{
    display: flex;
    justify-content: center;
        // background: red;
        width: 100%;
        margin: 2%;
        padding-bottom: 8%;
        
  }
  .item-inner {
    // width: 109px;
    // height: 126px;
    width: 100%;
    height: 100%;
   
    // background: #2A445D;
    border-width: 0px 5px 5px 0px;
    // border-style: solid;
    background: #E7E6F2;
    border-bottom: 5px solid #2A445D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 2%;
    cursor: pointer;    
}
.iimg{
 padding-top: 10%;

text-align: center;
margin: 5px;
}
.label{
   
    margin: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}
.label ion-label{
    color: #000;
}

ion-icon{
    color: #2A445D;
    width: 45px;
    height: 45px;
}