

<ion-content>
  <div class="header">
    <div class="icone">
      <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
    </div>

    <!-- <div class="icond col-md-3"> -->
      <div class="cercler">
        <div class="icon">
          <ion-img class="imag" src="{{profv}}" alt=""></ion-img>
        </div>
      </div>
    </div>

     <div class="retu">
     <ion-icon (click)=" back()" name="chevron-back"></ion-icon>
     </div>

     <div class="bien ">
      <h2>vous êtes</h2>
    </div>
    <div class="card">

      <div class="prow">
        <div class="info-item">
           <p>Nom : <span>{{nomu}}</span></p>
        </div>
        <div class="info-item">
           <p>Prenom : <span>{{prenomu}}</span></p>
        </div>
        <div class="info-item">
           <p>Né lé : <span> {{datenaissanceu}} à {{lieunaissanceu}}</span></p>
        </div>
        <div class="info-item">
           <p>Profession : <span>{{professionu}}</span></p>
        </div>
        <div class="info-item">
           <p>Commune : <span>{{communeu}}</span></p>
        </div>
        <div class="info-item">
           <p>Domicile : <span>{{domicileu}}</span></p>
        </div>
        <div class="info-item">
           <p>Téléphone : <span>{{telephoneu}}</span></p>
        </div>
        <!-- <div class="info-item">
           <p>Discord : <a href=""><span>diadia#1491</span></a></p>
        </div> -->
     </div>
      
     <div class="buton">
           <a href="#about" class="btn">Deconnecter</a>
           &nbsp;
           &nbsp;
           <a routerLink = '/compts' class="hire">Modifier</a>
     </div>


    </div>
</ion-content>
