

<ion-content>
  <div class="header">
    <div class="icone">
      <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
    </div>

    <!-- <div class="icond col-md-3"> -->
      <div class="cercler">
        <div class="icon">
         <a routerLink = '/information'> <ion-img class="imag" src="/assets/icon/OO.png" alt=""></ion-img></a>
        </div>
      </div>
    </div>

     <div class="retu">
      <a routerLink = '/tabs'> <ion-icon name="chevron-back"></ion-icon></a>
     </div>

     <div class="bien ">
      <h2>vous êtes</h2>
    </div>
    <div class="card">

      <div class="prow">
        <div class="info-item">
           <p>Nom : <span>ADIAWIAKOYE</span></p>
        </div>
        <div class="info-item">
           <p>Prenom : <span>Ahmadou</span></p>
        </div>
        <div class="info-item">
           <p>Né lé : <span> 10 / 10 / 1999 à Diré</span></p>
        </div>
        <div class="info-item">
           <p>Profession : <span>Etudiant</span></p>
        </div>
        <div class="info-item">
           <p>Commune : <span>VI</span></p>
        </div>
        <div class="info-item">
           <p>Domicile : <span>yirimadio rue : 123 porte : 6543</span></p>
        </div>
        <div class="info-item">
           <p>Téléphone : <span>+223 75468913</span></p>
        </div>
        <!-- <div class="info-item">
           <p>Discord : <a href=""><span>diadia#1491</span></a></p>
        </div> -->
     </div>
      
     <div class="buton">
           <a href="#about" class="btn">Deconnecter</a>
           &nbsp;
           <!-- &nbsp; -->
           <a href="#about" class="hire">Modifier</a>
     </div>


    </div>
</ion-content>
