<!-- <ion-header>
  <ion-toolbar>
    <ion-title>cartegrise</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="head">

  
    <div class="header">
      <div class="icone">
        <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
      </div>
  
      <!-- <div class="icond col-md-3"> -->
        <div class="cercler">
          <div class="icon">
           <a [routerLink] = "[routere, this.iduser]"> <ion-img class="imag" src="{{profv}}" alt=""></ion-img></a>
          </div>
        </div>
      <!-- </div> -->
      <!-- <div class="icon">
        <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
      </div> -->
    </div>
  
    <div class="retu">
       <ion-icon (click)=" back()" name="chevron-back"></ion-icon>
     </div>
  
  </div>
  
  <div class="card">
  
  <div class="entete">
    <div class="cone">
      <ion-img class="image" src="/assets/icon/symboles.png" alt=""></ion-img>
    </div>
   
    <div class="ministre">
       <p>République du Mali
        Ministre des transports</p>
    </div>
    <div class="cone">
       <ion-img class="image" src="/assets/icon/Mali.png" alt=""></ion-img>
    </div>
  </div>
  <div class="mis">
    <p>Carte Grise Malienne</p>
  </div>
  <div class="ete">
        <div class="coneg">
          <p>Propriétaire : </p>>
        </div>
         <!-- &nbsp; -->
        <div class="ite">
          <div class="info-ite">
            <p class="yr"> <span>{{nomi}} </span> <span> {{prenomi}}</span></p>
            <p class="yre" >N° Permis : <span>{{numpermisi}}</span></p>
          </div>
          <!-- <div class="info-item"> -->
            <!-- <p>N° Permis : <span>Ahmadou</span></p> -->
          <!-- </div> -->
          <!-- <div class="info-item">
            <p>Né lé : <span> 10 / 10 / 1999 à Diré</span></p>
          </div> -->
      </div>
  </div>
  
  <div class="prow">
   
    <div class="infoitem">
      <div class="info-tem">
          <p>Numéro de la carte grise : <span>{{numcartegrisei}}</span></p>
        </div>
        <div class="info-tem">
          <p>Valable du <span>{{datedelivrancei}} </span> au <span> {{datedecheancei}}</span></p>
        </div>
    </div>
        
    <div class="iteminfo">
      <div class="info-itemt">
          <p>Marque : <span>{{marqi}} </span></p>
        </div>
         &nbsp;
         &nbsp;
         <div class="info-itemr">
          <p>Genre :  <span>{{genri}}</span></p>
        </div>
        &nbsp;
        &nbsp;
        <div class="info-itemr">
          <p>Type :  <span>{{typi}}</span></p>
        </div>
    </div>
        
      <div class="info">
         <div class="info1">
          <p>Couleur : <br> <span>{{coul}}</span></p>
        </div>
        &nbsp;
        &nbsp;
        <div class="info2">
          <p>Energie : <br> <span>{{energii}}</span></p>
        </div>
        &nbsp;
        &nbsp;
        <div class="info3">
          <p>Carrosserie : <br> <span>{{carrouserii}}</span></p>
        </div>
      </div>



      <div class="info">
        <div class="info1">
         <p>Plasses <br>assises : <span>{{nbplacei}}</span></p>
       </div>
       &nbsp;
       &nbsp;
       <div class="info2">
         <p>Puissences <br> reél CV : <span>{{puissancereeli}}</span></p>
       </div>
       &nbsp;
       &nbsp;
       <div class="info3">
         <p>Puissences  <br>admin CV : <span>{{puissanceadmini}}</span></p>
       </div>
     </div>



     <div class="infof">
      <div class="info1">
       <p>P.T.A.C :<br> <span>{{ptaci}}</span></p>
     </div>
     &nbsp;
     &nbsp;
     <div class="info2">
       <p>P V : <br> <span>{{pvi}}</span></p>
     </div>
     &nbsp;
     &nbsp;
     <div class="info3">
       <p>C U : <br> <span>{{coutunitairei}}</span></p>
     </div>
   </div>
       

   <div class="infoit">
    <div class="info-tem">
        <p>Numero de Série / Chassis : <span>{{chassiei}}</span></p>
      </div>
      <div class="info-tem">
        <p>Numéro d’immatriculation : <span>{{plaq}}</span></p>
      </div>
      <div class="info-tem">
        <p>Date de mise en circulation : <span>{{dpmci}}</span></p>
      </div>
  </div>

  <div class="m">
    <h3>{{validite}}</h3>
  </div>
  </div>
  
  <!-- <div class="desc">
    <p>Véhicules automobiles de moins de 10 places et dont 
      le poids tout autorisé en charge excède 3500 kg</p>
  </div> -->
  
  </div>

</ion-content>
