<!-- <ion-header>
  <ion-toolbar>
    <ion-title>cartegrise</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="head">

  
    <div class="header">
      <div class="icone">
        <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
      </div>
  
      <!-- <div class="icond col-md-3"> -->
        <div class="cercler">
          <div class="icon">
           <a routerLink = '/information'> <ion-img class="imag" src="/assets/icon/OO.png" alt=""></ion-img></a>
          </div>
        </div>
      <!-- </div> -->
      <!-- <div class="icon">
        <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
      </div> -->
    </div>
  
    <div class="retu">
      <a routerLink = '/tabs'> <ion-icon name="chevron-back"></ion-icon></a>
     </div>
  
  </div>
  
  <div class="card">
  
  <div class="entete">
    <div class="cone">
      <ion-img class="image" src="/assets/icon/symboles.png" alt=""></ion-img>
    </div>
   
    <div class="ministre">
       <p>République du Mali
        Ministre des transports</p>
    </div>
    <div class="cone">
       <ion-img class="image" src="/assets/icon/Mali.png" alt=""></ion-img>
    </div>
  </div>
  <div class="mis">
    <p>Carte Grise Malienne</p>
  </div>
  <div class="ete">
        <div class="coneg">
          <p>Propriétaire : </p>>
        </div>
         <!-- &nbsp; -->
        <div class="ite">
          <div class="info-ite">
            <p class="yr"> <span>{{nomi}} </span> <span> Ahmadou</span></p>
            <p class="yre" >N° Permis : <span>Ahmadou</span></p>
          </div>
          <!-- <div class="info-item"> -->
            <!-- <p>N° Permis : <span>Ahmadou</span></p> -->
          <!-- </div> -->
          <!-- <div class="info-item">
            <p>Né lé : <span> 10 / 10 / 1999 à Diré</span></p>
          </div> -->
      </div>
  </div>
  
  <div class="prow">
   
    <div class="infoitem">
      <div class="info-tem">
          <p>Numéro de la carte grise : <span>0614026</span></p>
        </div>
        <div class="info-tem">
          <p>Valable du <span>10 / 10 / 2019</span> au <span>10 / 10 / 2019</span></p>
        </div>
    </div>
        
    <div class="iteminfo">
      <div class="info-itemt">
          <p>Marque : <span>TOYOTA </span></p>
        </div>
         &nbsp;
         &nbsp;
         &nbsp;
        <div class="info-itemr">
          <p>Type :  <span>COROLLA XLI</span></p>
        </div>
    </div>
        
      <div class="info">
         <div class="info1">
          <p>Couleur : <br> <span>Orange</span></p>
        </div>
        &nbsp;
        &nbsp;
        <div class="info2">
          <p>Energie : <br> <span>Essence</span></p>
        </div>
        &nbsp;
        &nbsp;
        <div class="info3">
          <p>Carrosserie : <br> <span>Cond int 4 PTS</span></p>
        </div>
      </div>



      <div class="info">
        <div class="info1">
         <p>Plasses <br>assises : <span>4</span></p>
       </div>
       &nbsp;
       &nbsp;
       <div class="info2">
         <p>Puissences <br> reél CV :<span>7</span></p>
       </div>
       &nbsp;
       &nbsp;
       <div class="info3">
         <p>Puissences  <br>admin CV :<span>7</span></p>
       </div>
     </div>



     <div class="infof">
      <div class="info1">
       <p>P.T.A.C :<br> <span>1545</span></p>
     </div>
     &nbsp;
     &nbsp;
     <div class="info2">
       <p>P V : <br> <span>1045</span></p>
     </div>
     &nbsp;
     &nbsp;
     <div class="info3">
       <p>C U : <br> <span> 7</span></p>
     </div>
   </div>
       

   <div class="infoit">
    <div class="info-tem">
        <p>Numero de Série / Chassis : <span>JTDBZ20E200134O93</span></p>
      </div>
      <div class="info-tem">
        <p>Numéro d’immatriculation : <span>AV7223MD</span></p>
      </div>
      <div class="info-tem">
        <p>Date de mise en circulation : <span>10 / 10 / 2019</span></p>
      </div>
  </div>


  </div>
  
  <!-- <div class="desc">
    <p>Véhicules automobiles de moins de 10 places et dont 
      le poids tout autorisé en charge excède 3500 kg</p>
  </div> -->
  
  </div>

</ion-content>
