<!-- <ion-header>
  <ion-toolbar>
    <ion-title>permis</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="head">

  
  <div class="header">
    <div class="icone">
      <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
    </div>

    <!-- <div class="icond col-md-3"> -->
      <!-- <div class="cercler">
        <div class="icon">
         <a [routerLink] = "['information', this.iduser]"> <ion-img class="imag" src="{{profv}}" alt=""></ion-img></a>
        </div>
      </div> -->
      <ion-avatar [routerLink] = "['information', this.iduser]">
        <img class="imag" src="{{profilu}}" alt=""/>
      </ion-avatar>
    <!-- </div> -->
    <!-- <div class="icon">
      <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
    </div> -->
  </div>

  <div class="retu">
     <ion-icon (click)="back()" name="chevron-back"></ion-icon>
   </div>

</div>

<div class="card">

<div class="entete">
  <div class="cone">
    <ion-img class="image" src="/assets/icon/symboles.png" alt=""></ion-img>
  </div>
 
  <div class="ministre">
     <p>République du Mali
      Ministre des transports</p>
  </div>
  <div class="cone">
     <ion-img class="image" src="/assets/icon/Mali.png" alt=""></ion-img>
  </div>
</div>
<div class="mis">
  <p>Permis de Conduire Malien</p>
</div>
<div class="ete">
      <div class="coneg">
        <ion-img class="image" src="{{permiprofile}}" alt=""></ion-img>
      </div>
       &nbsp;
      <div class="item">
        <div class="info-item">
          <p>Nom : <span>{{perminom}}</span></p>
        </div>
        <div class="info-item">
          <p>Prenom : <span>{{permiprenom}}</span></p>
        </div>
        <div class="info-item">
          <p>Né lé : <span>{{permidatenaissance}}</span> à <span>{{permilieunaissance}}</span></p>
        </div>
    </div>
</div>

<div class="prow">

      <div class="info-item">
        <p>Domicile : <span>{{permidomicile}}</span></p>
      </div>
      <div class="info-item">
        <p>Profession : <span>{{permiprofession}}</span></p>
      </div>
      <div class="info-item">
        <p>N° Permis : <span>{{perminum}}</span></p>
      </div>
      <div class="info-item">
        <p>Délivre lé : <span>{{permidatelivraison}}  à  BAMAKO</span></p>
      </div>
      <div class="info-item">
        <p>date d’expiration : <span>{{permidateecheance}}</span></p>
      </div>
      <div class="info-item">
        <p>Catégorie du permis  : <span>{{permicategorie}}</span></p>
      </div>
</div>

<div class="desc">
  <p>Véhicules automobiles de moins de 10 places et dont 
    le poids tout autorisé en charge excède 3500 kg</p>
</div>

</div>
</ion-content>
