<!-- <ion-header>
  <ion-toolbar>
    <ion-title>compts</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="header">
    <div class="icone">
      <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
    </div>

    <!-- <div class="icond col-md-3"> -->
      <!-- <div class="cercler">
        <div class="icon">
         <a [routerLink] = "['information', this.iduser]"> <ion-img class="imag" src="{{profv}}" alt=""></ion-img></a>
        </div>
      </div> -->
      <ion-avatar [routerLink] = "['information', this.iduser]">
        <img class="imag" src="{{profilu}}" alt=""/>
      </ion-avatar>

    </div>

     <div class="retu">
       <ion-icon (click)=" back()" name="chevron-back"></ion-icon>
     </div>

     <div class="bien ">
      <h2>Modifier compte</h2>
    </div>
    <div class="card">
 <div class="icond ">

  <!-- <div class="cerclef">
    <div class="iconf">
     <a routerLink = '/information'> <ion-img class="imag" src="{{profilu}}" alt=""></ion-img></a>
    </div>
  </div> -->


  <div class="container user-avatar">
    <label for="files" class="Fimg">
    <div class="simg"> 
      
    <img class="avatar" src="{{profilu}}" alt="" >
    </div> 
    <div class="status-overlay "> 
      
    <ion-icon class="IONic" name="camera-outline">
      <input id="files" (change)="fileChang($event)" style="visibility:hidden;" type="file">
    </ion-icon></div>
  
  </label>
  <input id="files" (change)="fileChang($event)" style="visibility:hidden;" type="file">
    </div>


</div>

<!-- <form (ngSubmit)="updateimage()">
  <div class="icons ">
    <input  class="custom-file-input" (change)="fileChang($event)" type="file" >
    <button type="submit" class="ire">Modifier</button>
  </div>
</form> -->

      <div class="Rrow">
        <form (ngSubmit)="updateutilisateur()">
        <ion-list>
            
          <ion-label>Nom</ion-label>
          <ion-input type="text" name="nom" [(ngModel)]="nom" required [(ngModel)]="nomu"></ion-input>
        
       
          <ion-label>Prénom</ion-label>
            <ion-input type="text" name="prenom" [(ngModel)]="prenom" required [(ngModel)]="prenomu"></ion-input>
          
          
            <ion-label>Profession</ion-label> 
            <ion-input type="text"  name="profession" [(ngModel)]="profession" required [(ngModel)]="professionu"></ion-input>

            <ion-label>Domicile</ion-label> 
            <ion-input type="text" name="domicile" [(ngModel)]="domicile" required [(ngModel)]="domicileu"></ion-input>
        
       
            <ion-label>Commune</ion-label>
              <ion-input type="text" name="commune" [(ngModel)]="commune" required [(ngModel)]="communeu"></ion-input>
            
            
              <ion-label>Téléphone</ion-label> 
              <ion-input type="tel" name="phone" [(ngModel)]="telephone" required [(ngModel)]="telephoneu"></ion-input>
        </ion-list>

        <div class="buton">
          <!-- <a href="#about" class="btn">Deconnecter</a>
          &nbsp; -->
          <!-- &nbsp; -->
          <button type="submit" class="hire">Modifier</button>
    </div>
  </form>
  <div *ngIf="message" class="alert alert-success" role="alert">
    <strong>{{message}}</strong>
  </div>
     </div>
      
    


    </div>
</ion-content>
