<!-- <ion-header>
  <ion-toolbar>
    <ion-title>compts</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="header">
    <div class="icone">
      <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
    </div>

    <!-- <div class="icond col-md-3"> -->
      <div class="cercler">
        <div class="icon">
         <a routerLink = '/information'> <ion-img class="imag" src="/assets/icon/OO.png" alt=""></ion-img></a>
        </div>
      </div>
    </div>

     <div class="retu">
      <a routerLink = '/tabs'> <ion-icon name="chevron-back"></ion-icon></a>
     </div>

     <div class="bien ">
      <h2>Modifier compte</h2>
    </div>
    <div class="card">
 <div class="icond ">
  <div class="cerclef">
    <div class="iconf">
     <a routerLink = '/information'> <ion-img class="imag" src="/assets/icon/OO.png" alt=""></ion-img></a>
    </div>
  </div>
</div>
<div class="icons ">
<a routerLink = '/compts' class="ire">Modifier</a>
</div>

      <div class="Rrow">
        
        <ion-list>
            
          <ion-label>Nom</ion-label>
          <ion-input type="text" name="nom" placeholder="Nom"></ion-input>
        
       
          <ion-label>Prénom</ion-label>
            <ion-input type="text" name="prenom" placeholder="Prénom"></ion-input>
          
          
            <ion-label>Profession</ion-label> 
            <ion-input type="text"  name="profession" placeholder="Profession"></ion-input>

            <ion-label>Domicile</ion-label> 
            <ion-input type="text" name="domicile" placeholder="Domicile"></ion-input>
        
       
            <ion-label>Commune</ion-label>
              <ion-input type="text" name="commune" placeholder="Commune"></ion-input>
            
            
              <ion-label>Téléphone</ion-label> 
              <ion-input type="tel" name="phone" placeholder="Téléphone"></ion-input>
        </ion-list>

        <div class="buton">
          <!-- <a href="#about" class="btn">Deconnecter</a>
          &nbsp; -->
          <!-- &nbsp; -->
          <a routerLink = '/compts' class="hire">Modifier</a>
    </div>
    
     </div>
      
    


    </div>
</ion-content>
