<!-- <ion-header>
  <ion-toolbar>
    <ion-title>vehicule</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="header">
    <div class="icone">
      <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
    </div>

    <!-- <div class="icond col-md-3"> -->
      <div class="cercler">
        <div class="icon">
         <a routerLink = '/information'> <ion-img class="imag" src="/assets/icon/OO.png" alt=""></ion-img></a>
        </div>
      </div>
    <!-- </div> -->
    <!-- <div class="icon">
      <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
    </div> -->
  </div>

  <div class="retu">
    <a routerLink = '/tabs'> <ion-icon name="chevron-back"></ion-icon></a>
   </div>

   <div class="bien ">
    <h2>Mes Véhicules</h2>
  </div>

  <div class="card">


    <div class="item-padd">
    <div class="vehic">
      <div class="inmage">
           <ion-img class="image" src="/assets/icon/Rectangle 332.png" alt=""></ion-img>
      </div>

      <div class="info">
        <div class="inform">
        <p><span> TOYOTA </span><span> COROLLA XLI </span></p>
        <p>Couleur : <span>Orange</span></p>
      </div>
      <div class="buton">
        <a routerLink = '/detailvehicule'  class="hire">AV 7223 MD</a>
        &nbsp;
        <!-- &nbsp; -->
        <a routerLink = '/modifiervehicule' class="btn">Modifier</a>
          </div>
      </div>
    </div>
  </div>



  <div class="item-padd">
    <div class="vehic">
      <div class="inmage">
           <ion-img class="image" src="/assets/icon/Rectangle 332.png" alt=""></ion-img>
      </div>

      <div class="info">
        <div class="inform">
        <p><span> TOYOTA </span><span> COROLLA XLI </span></p>
        <p>Couleur : <span>Orange</span></p>
      </div>
      <div class="buton">
        <a routerLink = '/detailvehicule'  class="hire">AV 7223 MD</a>
        &nbsp;
        <!-- &nbsp; -->
        <a routerLink = '/modifiervehicule' class="btn">Modifier</a>
          </div>
      </div>
    </div>
  </div>



  <div class="item-padd">
    <div class="vehic">
      <div class="inmage">
           <ion-img class="image" src="/assets/icon/Rectangle 332.png" alt=""></ion-img>
      </div>

      <div class="info">
        <div class="inform">
        <p><span> TOYOTA </span><span> COROLLA XLI </span></p>
        <p>Couleur : <span>Orange</span></p>
      </div>
      <div class="buton">
        <a routerLink = '/detailvehicule' class="hire">AV 7223 MD</a>
        &nbsp;
        <!-- &nbsp; -->
        <a routerLink = '/modifiervehicule' class="btn">Modifier</a>
          </div>
      </div>
    </div>
  </div>



  </div>

</ion-content>
