ion-content{
    --background: #2A445D;
//     width: 100%;
//     height: 100%;
}

.header{
    display: flex;
   position: fixed;
}
.icone{
    width: 95px;
    height: 45px;

}
.inmage{
    width: 88%;
   margin-top: 15%;
   margin-left: auto;
   margin-right: auto;
   z-index: 2;
   position: relative;
bottom: 0px;


}
.cercler{
   background-color: aliceblue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
   
   right: 0;
    position: fixed;
    margin: 15px;

  }
  .imag{
    margin: 10px;
  }

  .retu{
    margin-top: 27%;
    position: fixed;
   
  }

 .retu a{
    margin: 5%;
    text-decoration: none;
  }
  .retu ion-icon{
    color: #FFFFFF;
    margin: 5%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.bien{
    margin-top: 35%; 
    text-align: center;
    
}
.bien h2{
 font-weight: 700;
 font-size: 25px;
 color: #FFFFFF;
}

.card{
    margin-top: -5px;
    //position: relative;
    width: 93%;
    //  margin-right: -5px;
    //  margin-left: -5px;
    height: 76%;
    background-color: #FFFFFF;
    scrollbar-width: none !important;
    overflow-y: scroll; 
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
    
}
.card::-webkit-scrollbar {
    display: none;
  }

  .item-padd{
    
    // display: flex;
    // justify-content: center;
        // background: red;
        width: 97%;
        // margin: 2%;
          margin-top: 20px;
        //   padding-bottom: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        
        
  }

.vehic{
    display: flex;
   
    background: #2A445D;
    border: 4px solid #D9D9D9;
    border-radius: 10px; 
}
.inmage{
    // background: rebeccapurple;
    width: 35%;
     margin-top: 0%;
    
}
.inmage .image{
   
    width: 80px;
     height: 80px;
     margin-left: auto;
     margin-right: auto;
}
.info{
    // background: bisque;
    width: 65%;
}

.inform{
    margin-top: 5px;
    // background: #000;

}
.info .inform p{
    color: #FFFFFF;
    font-size: 13px;
    margin-bottom: 0%;
    margin-left: 10px;
}
.info .inform p span{
    font-weight: 700;
}

.buton{
    display: flex;
}


  .buton .hire{
    font-size: 13px;
    font-weight: 700;
    padding: 5px 5px;
    margin: 5px;
    color: #000;
    // border-radius: 10px;
    // display: inline-block;
    // white-space: nowrap;
    border: none;
    background-color: #FFFFFF;
    transition: all 0.3s ease;
}
.buton .btn{
    font-weight: 700;
    font-size: 13px;
    padding: 5px 5px;
    margin: 5px;
    color: #000;
    border: none;
    border-radius: 5px;
    background-color: #B2D7FA;
    transition: all 0.3s ease;
}
a{
    text-decoration: none;
}