ion-content{
    --background: #2A445D;
//     width: 100%;
//     height: 100%;
}
ion-segment-button{
    color: #000;
    --font-family: 'Poppins';
    font-weight: 600;
}
.header{
    display: flex;
   position: fixed;
}
.icone{
    width: 95px;
    height: 45px;

}
.inmage{
    width: 88%;
   margin-top: 15%;
   margin-left: auto;
   margin-right: auto;
   z-index: 2;
   position: relative;
bottom: 0px;


}
.cercler{
   background-color: aliceblue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: 0;
    position: fixed;
    margin: 15px;
  }
  // .imag{
  //   margin: 10px;
  // }

  ion-avatar{
    background-color: aliceblue;
   //  position: absolute;

    width: 50px;
    height: 50px;
   // border-radius: 50%;
   // right: 0;
    position: fixed;
    margin-top: 15px;
   //  float: left;
   //  left: 100%;
   //  right: 20px;
   //  margin: 100%;
   margin-left: 80%;
 }

  .retu{
    margin-top: 27%;
    position: fixed;
   
  }

//  .retu a{
//     margin: 5%;
//     text-decoration: none;
//   }
 .retu ion-icon{
    color: #FFFFFF;
    margin: 5%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.bien{
    margin-top: 35%; 
    text-align: center;
    
}
.bien h2{
 font-weight: 700;
 font-size: 25px;
 color: #FFFFFF;
}
.card{
    margin-top: -5px;
    //position: relative;
    width: 93%;
    //  margin-right: -5px;
    //  margin-left: -5px;
    height: 76%;
    background-color: #FFFFFF;
    scrollbar-width: none !important;
    overflow-y: scroll; 
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
    
}
.card::-webkit-scrollbar {
    display: none;
  }


  ion-list{
    margin-top: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: none;
  }
ion-item{
  --background: transparent;

   margin-bottom: -5% !important;
  }
  ion-textarea{
    margin-bottom: 0% !important;
    // background: none;
    border: 1px solid #2A445D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #000;
    background: #F5F5F5;
    font-size: 13px;
  }
  ion-input{
    margin-bottom: 0% !important;
    // background: none;
    border: 1px solid #2A445D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #000;
    background: #F5F5F5;
    font-size: 13px;
  }
  ion-label{
    font-weight: 600;
    font-size: 13px;
    color: #000;
    margin-left: 5%;
  }
.buton{
    text-align: center;
}
  .hire{
    font-size: 13px;
    font-weight: 500;
    padding: 10px 37px;
    color: white;
    border-radius: 10px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background-color: #2A445D;
    transition: all 0.3s ease;
}

.hire:hover{
    transform: scale(1.05);
}
.form-select{
    width: 100%;
    height: 40px;
    margin-bottom: 10px !important;
    // background: none;
    border: 1px solid #2A445D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #000;
    background: #F5F5F5;
    font-size: 13px;
}
option{
    width: 50%;
    
}