ion-tabs{
    background: #2A445D !important;
}
ion-tab-bar{
    border: 1px solid #FFFFFF;
}
ion-icon{
    color: #FFFFFF;
    width: 45px;
    height: 45px;
}
ion-label{
    font-size: 10px;
}
.tab-selected{
    color:#FFFFFF;
}

.tab:hover{
    color:#FFFFFF;
}
