<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <!-- <ion-icon name="triangle"></ion-icon> -->
      <!-- <ion-icon name="home-outline"></ion-icon> -->
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Acceuil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <!-- <ion-icon name="ellipse"></ion-icon> -->
      <ion-icon name="archive"></ion-icon>
      <ion-label>Infractions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <!-- <ion-icon name="square"></ion-icon> -->
      <ion-icon name="reader"></ion-icon>
      <ion-label>Alerte</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
