<!-- <ion-header>
  <ion-toolbar>
    <ion-title>modifiervehicule</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="header">
    <div class="icone">
      <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
    </div>

    <!-- <div class="icond col-md-3"> -->
      <!-- <div class="cercler">
        <div class="icon">
         <a [routerLink] = "['information', this.iduser]"> <ion-img class="imag" src="{{profv}}" alt=""></ion-img></a>
        </div>
      </div> -->
      <ion-avatar [routerLink] = "['information', this.iduser]">
        <img class="imag" src="{{profilu}}" alt=""/>
      </ion-avatar>
    <!-- </div> -->
    <!-- <div class="icon">
      <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
    </div> -->
  </div>

  <div class="retu">
    <ion-icon (click)="back()" name="chevron-back"></ion-icon>
   </div>

   <div class="bien ">
    <h2>{{plaq}}</h2>
  </div>

  <div class="card">
    <!-- <form (ngSubmit)="updateimage()"> -->
      <div class="container user-avatar">

            <label for="files" class="Fimg">
         <div class="simg">
      <ion-img class="image" src="{{image}}" alt=""></ion-img>
    </div>
    <div class="status-overlay "> 
      
      <ion-icon class="IONic" name="camera-outline">
        <input id="files" (change)="fileChang($event)" style="visibility:hidden;" type="file">
      </ion-icon>
    </div>
      </label>  
      </div>

   
    <!-- <div class="icons">
      <input  class="custom-file-input" (change)="fileChang($event)" type="file" > -->
      <!-- <button type="submit" class="ire">Modifier</button>  -->
      <!-- </div> -->
    <!-- </form> -->

<div class="Rrow">
  <form (ngSubmit)="updateEmployee()">
<ion-list>
            
        <ion-label>Couleur</ion-label>
        <ion-input type="text" name="nom" [(ngModel)]="couleur"  required [(ngModel)]="cul"></ion-input>

      </ion-list>

      <div class="buton">
        <a href="#about" class="btn">Annuler</a>
        &nbsp;
        &nbsp;
        <button type="submit" class="hire">Modifier</button>
      </div>
    </form>
</div>
      

  </div>

</ion-content>
