<!-- <ion-header>
  <ion-toolbar>
    <ion-title>modifiervehicule</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="header">
    <div class="icone">
      <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
    </div>

    <!-- <div class="icond col-md-3"> -->
      <div class="cercler">
        <div class="icon">
         <a routerLink = '/information'> <ion-img class="imag" src="/assets/icon/OO.png" alt=""></ion-img></a>
        </div>
      </div>
    <!-- </div> -->
    <!-- <div class="icon">
      <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
    </div> -->
  </div>

  <div class="retu">
    <a routerLink = '/tabs'> <ion-icon name="chevron-back"></ion-icon></a>
   </div>

   <div class="bien ">
    <h2>AV 7223 MD</h2>
  </div>

  <div class="card">

    <div class="inmage">
      <ion-img class="image" src="/assets/icon/Rectangle 332.png" alt=""></ion-img>
    </div>

    <div class="icons ">
      <a routerLink = '/compts' class="ire">Modifier</a>
      </div>

<div class="Rrow">
<ion-list>
            
        <ion-label>Couleur</ion-label>
        <ion-input type="text" name="nom" placeholder="Couleur"></ion-input>

      </ion-list>

      <div class="buton">
        <a href="#about" class="btn">Annuler</a>
        &nbsp;
        &nbsp;
        <a routerLink = '/compts' class="hire">Modifier</a>
      </div>

</div>
      

  </div>

</ion-content>
