<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <div class="header">
    <div class="icone">
      <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
    </div>

    <!-- <div class="icond col-md-3"> -->
      <!-- <div class="cercler">
        <div class="icon">
         <a [routerLink] = "['information', this.iduser]"> <ion-img class="imag" src="/assets/icon/OO.png" alt=""></ion-img></a>
        </div>
      </div> -->
       <div class="cloch">
            <ion-buttons slot="" id="open-custom-dialog1" expand="block" style="margin-left: -2% !important; margin-top: 15px;">
            <ion-icon style="width: 50px; height: 50px; color: #fff;" slot="icon-only" name="notifications-outline"></ion-icon>
            <ion-badge color="danger"
              style="--height: 20px !important; position: absolute; right: -2px; top: -8px;">{{infractionnbr}}</ion-badge></ion-buttons>
          &nbsp;
          &nbsp;
          <ion-avatar [routerLink] = "['information', this.iduser]">
            <img class="imag" src="{{profilu}}" alt=""/>
          </ion-avatar>
       </div>
     

    </div>

    <div class="bien ">
      <h2>Mes Infractions</h2>
    </div>
    <div class="card">

      <div class="trow">

        <div class="item-padd" *ngFor="let infractions of infraction">
          <div class="item-inner ">
              <div class="iimg">
                <ion-icon name="alert-circle"></ion-icon>
                <ion-label>Infraction</ion-label>
                <ion-label>{{infractions[0]}}</ion-label>
              </div>
              <div class="conten">
                <ion-item>{{infractions[1]}}</ion-item>
              </div>
              <div class="label">
                <ion-label>infraction réglé = <span>{{infractions[3]}}</span></ion-label>
                &nbsp;
                <a  class="hire">{{infractions[5]}}</a>
              </div>
          </div>
       </div>




       <!-- <div class="item-padd">
        <div class="item-inner ">
            <div class="iimg">
              <ion-icon name="alert-circle"></ion-icon>
              <ion-label>Infraction</ion-label>
              <ion-label>01/ 10 / 2023 T 10 H 10 : 00</ion-label>
            </div>
            <div class="conten">
              <ion-item>vous avez bruler le feu rouge sans fuite
                sur la rue 250 de badalabougou  </ion-item>
            </div>
            <div class="label">
              <ion-label>infraction réglé = <span>nom</span></ion-label>
              &nbsp;
              <a routerLink = '/compts' class="hire">AV 7223 MD</a>
            </div>
        </div>
     </div>




     <div class="item-padd">
      <div class="item-inner ">
          <div class="iimg">
            <ion-icon name="alert-circle"></ion-icon>
            <ion-label>Infraction</ion-label>
            <ion-label>01/ 10 / 2023 T 10 H 10 : 00</ion-label>
          </div>
          <div class="conten">
            <ion-item>vous avez bruler le feu rouge sans fuite
              sur la rue 250 de badalabougou  </ion-item>
          </div>
          <div class="label">
            <ion-label>infraction réglé = <span>nom</span></ion-label>
            &nbsp;
            <a routerLink = '/compts' class="hire">AV 7223 MD</a>
          </div>
      </div>
   </div>



   <div class="item-padd">
    <div class="item-inner ">
        <div class="iimg">
          <ion-icon name="alert-circle"></ion-icon>
          <ion-label>Infraction</ion-label>
          <ion-label>01/ 10 / 2023 T 10 H 10 : 00</ion-label>
        </div>
        <div class="conten">
          <ion-item>vous avez bruler le feu rouge sans fuite
            sur la rue 250 de badalabougou  </ion-item>
        </div>
        <div class="label">
          <ion-label>infraction réglé = <span>nom</span></ion-label>
          &nbsp;
          <a routerLink = '/compts' class="hire">AV 7223 MD</a>
        </div>
    </div>
 </div> -->




      </div>

    </div>
</ion-content>
