<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <div class="header">
    <div class="icone">
      <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
    </div>

    <!-- <div class="icond col-md-3"> -->
      <div class="cercler">
        <div class="icon">
         <a routerLink = '/information'> <ion-img class="imag" src="/assets/icon/OO.png" alt=""></ion-img></a>
        </div>
      </div>
    </div>

    <div class="bien ">
      <h2>Mes Infractions</h2>
    </div>
    <div class="card">

      

    </div>
</ion-content>
