<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content [fullscreen]="true"> -->
  <ion-content>
  <div class="header">
    <div class="icone">
      <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
    </div>

    <!-- <div class="icond col-md-3"> -->
      <div class="cercler">
        <div class="icon">
         <a [routerLink] = "['information', this.iduser]"> <ion-img class="imag" src="/assets/icon/OO.png" alt=""></ion-img></a>
        </div>
      </div>
    </div>

    <div class="bien ">
      <h2>Mes Alertes</h2>
    </div>
    <div class="card">

      <div class="trow">

        <div class="item-padd" *ngFor="let alertes of alerte">
          <div class="item-inner ">
              <div class="iimg">
                <ion-icon name="warning"></ion-icon>
                <ion-label class="urge" >Urgent</ion-label>
                <ion-label>{{alertes.date}}</ion-label>
              </div>
              <div class="conten">
                <ion-item>{{alertes.contenue}}</ion-item>
                  <!-- <ion-label>01/ 10 / 2023 T 10 H 10 : 00</ion-label> -->
              </div>
          </div>
       </div>




       <!-- <div class="item-padd">
        <div class="item-inner ">
            <div class="iimg">
              <ion-icon name="warning"></ion-icon>
              <ion-label class="urge" >Urgent</ion-label>
              <ion-label>01/ 10 / 2023 T 10 H 10 : 00</ion-label>
            </div>
            <div class="conten">
              <ion-item>vous etes convoquer au commisaria de 
                venir regler votre infraction  
                du </ion-item>
                <ion-label>01/ 10 / 2023 T 10 H 10 : 00</ion-label>
            </div>
        </div>
     </div>





     <div class="item-padd">
      <div class="item-inner ">
          <div class="iimg">
            <ion-icon name="warning"></ion-icon>
            <ion-label class="urge" >Urgent</ion-label>
            <ion-label>01/ 10 / 2023 T 10 H 10 : 00</ion-label>
          </div>
          <div class="conten">
            <ion-item>vous etes convoquer au commisaria de 
              venir regler votre infraction  
              du </ion-item>
              <ion-label>01/ 10 / 2023 T 10 H 10 : 00</ion-label>
          </div>
      </div>
   </div>






   <div class="item-padd">
    <div class="item-inner ">
        <div class="iimg">
          <ion-icon name="warning"></ion-icon>
          <ion-label class="urge" >Urgent</ion-label>
          <ion-label>01/ 10 / 2023 T 10 H 10 : 00</ion-label>
        </div>
        <div class="conten">
          <ion-item>vous etes convoquer au commisaria de 
            venir regler votre infraction  
            du </ion-item>
            <ion-label>01/ 10 / 2023 T 10 H 10 : 00</ion-label>
        </div>
    </div>
 </div> -->



      </div>

    </div>
</ion-content>
