

  <ion-content>
    <div class="containerQ">
   <div >
    <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
  </div>
  <!-- <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img> -->
   <div class="bien">
  <h2>Bienvenue !!</h2>
  <p>Une application qui vous donne la possibilité d’accédé 
    aux information de vos véhicules et infractions</p>
</div> 
<!-- <ion-item> -->
<!-- <ion-label>
  <h2>Bienvenue !!</h2>
  <p>Une application qui vous donne la possibilité d’accédé 
    aux information de vos véhicules et infractions</p>
</ion-label> -->
<!-- </ion-item> -->
<div class="containte">
  <a routerLink = '/inscription' class="btn">Continuer</a>
<!-- <ion-button>Default</ion-button> -->
</div>
</div>
</ion-content>

