<div class="containt" style="background-color: #E7E6F2;">
  <div class="wrapper">
    <div class="warp">
      <h1>Information</h1>
    </div>
     <div class="contenue">
      <p>Veuillez consulter votre boite SMS </p>
     </div>
     <div class="buton">
      <button type="submit" class="hirer">Ok</button>
    </div>
    <!-- <form action="">
      

        <label>N° permis</label>
        <input type="text" name="nom"/>

        <label>montant payer</label>
        <input type="text" name="nom"/>

        <div class="buton">
          <button type="submit" class="hirer">Envoyer</button>
        </div>

      
    </form> -->
  </div>
</div>
