<!-- <ion-header>
  <ion-toolbar>
    <ion-title>policier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="policier1">
      <!-- <ion-icon name="triangle"></ion-icon> -->
      <!-- <ion-icon name="home-outline"></ion-icon> -->
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Acceuil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="policier2">
      <!-- <ion-icon name="ellipse"></ion-icon> -->
      <ion-icon name="qr-code-sharp"></ion-icon>
      <ion-label>Infractions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="policier3">
      <!-- <ion-icon name="square"></ion-icon> -->
      <ion-icon name="search"></ion-icon>
      <ion-label>Alerte</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
