<!-- <ion-header>
  <ion-toolbar>
    <ion-title>modal</ion-title>
  </ion-toolbar>
</ion-header> -->


  <ion-content padding no-bounce>
    <ion-icon (click)=" back()" name="chevron-back"></ion-icon>
    <div class="titleText">How would you like to rate me?</div>
    <!-- <ionic3-star-rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#488aff" defaultColor="black"
      readonly="false" [rating]="rating">
    </ionic3-star-rating> -->
    <div class="justified">
      <textarea rows="4" cols="50"  placeholder="How can I assist you further?"></textarea>
    </div>
  
    <button  class="submitButton">
      Submit
    </button>
  </ion-content>

