<!-- <ion-header>
  <ion-toolbar>
    <ion-title>policier3</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="header">
    <div class="icone">
      <ion-img class="image" src="/assets/icon/logo.png" alt=""></ion-img>
    </div>

    <!-- <div class="icond col-md-3"> -->
      <!-- <div class="cercler">
        <div class="icon">
         <a [routerLink] = "['/informationpolicier', this.iduser]" routerLinkActive="active"> <ion-img class="imag" src="/assets/icon/OO.png" alt=""></ion-img></a>
        </div>
      </div> -->
      <ion-avatar [routerLink] = "['/informationpolicier', this.iduser]">
        <img class="imag" src="{{profilu}}" alt=""/>
      </ion-avatar>
    </div>

    <div class="bien ">
      <!-- <h2>Scanner le QR Code</h2> -->
      <ion-searchbar show-clear-button = "focus" placeholder="Search..." [(ngModel)]="filterTerm" type="text"></ion-searchbar>
    </div>

    <div class="card">
 <!-- | filter:filterTerm  -->
      <div class="item-padd" *ngFor="let vehicle of vehicul2 | filter: filterTerm">
        <div class="vehic">
          <div class="inmage">
               <ion-img class="image" src="{{vehicle[2]}}" alt=""></ion-img>
          </div>
    
          <div class="info">
            <div class="inform">
              <p><span>{{vehicle[18]}} </span><span> {{vehicle[16]}} </span> <span> {{vehicle[30]}}</span></p>
              <p>Couleur : <span>{{vehicle[1]}}</span></p>
          </div>
          <div class="buton">
            <a [routerLink] = "['/detailvehicule', vehicle[0]]" routerLinkActive="active"  class="hire">{{vehicle[3]}}</a>
            &nbsp;
            <!-- &nbsp; -->
            <!-- <a routerLink = '/modifiervehicule' class="btn">Modifier</a> -->
              </div>
          </div>
        </div>
      </div>






      <!-- <div class="item-padd">
        <div class="vehic">
          <div class="inmage">
               <ion-img class="image" src="/assets/icon/Rectangle 332.png" alt=""></ion-img>
          </div>
    
          <div class="info">
            <div class="inform">
            <p><span> TOYOTA </span><span> COROLLA XLI </span></p>
            <p>Couleur : <span>Orange</span></p>
          </div>
          <div class="buton">
            <a routerLink = '/detailvehicule'  class="hire">AV 7223 MD</a>
            &nbsp;
            &nbsp;
            <a routerLink = '/modifiervehicule' class="btn">Modifier</a>
              </div>
          </div>
        </div>
      </div> -->








    </div>

</ion-content>
